* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.createquiz,
.TakeQuiz,
.login,
.sign-up{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  
}
.login {

  background-color: #1F2833; 

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
 
}

.createquiz{
 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 100px;
}

.TakeQuiz {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}


html,body,body * {
  box-sizing: border-box;
  font-family: 'Open Sans' , sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  
  ;
}



body {
  
  background-size: cover;
  background-position: center center;
}
.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}
.login-register-wrapper {
  height: 650px;
  display: flex;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding:0 2em;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0, 0.2);
  overflow: hidden;

  color: black;
  
  box-shadow: 20px 20px 20px 20px lightblue;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    vertical-align: baseline;

  color: #66FCF1;
  background: linear-gradient(90deg,  #1F2833 20%, #0b0c10  80%);
  box-shadow: 20px 20px 20px lightblue;


}

.nav-buttons {
  width:100%;
  height: 100px;
  padding-top:40px ;
  opacity: 1;
  margin-bottom: 3em;

}

button {
  font-size: 1.5em;
  margin-right: 1em;
  border:0px;
  cursor: pointer;
  background-color: linear-gradient(90deg, rgb(120, 187, 196) 0%, rgb(56, 148, 125) 100%);
}

button.focus {
  outline: 0px;
}

button.active {
  padding-bottom: 10px;
  
}

.forgot-pane1 {
  position: relative;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 50px;
  border-top: solid 2px rgba(126, 118, 118, 0.507);
}

.form-group input {
  width: 100%;
  height:35px;
  padding-left: 15px;
  border-radius: 5px;

  margin-bottom: 10px !important;
  box-shadow: none !important;
 border-radius: 4px;
 cursor: pointer;
 padding: 15px;
 margin: 5px 0 22px 0;
 display: inline-block;
 border: none;
 background: #f1f1f1;

  margin-bottom: 10px;
  background:  linear-gradient(90deg, #C5C6C7 0%, #C5C6C7 10%, #C5C6C7 100%);;


}

.form-group input:focus{
  background-color: #ddd;
  outline: none;
}

.form-group label {
  text-transform: uppercase;
}

button.submit {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align:center;
  color: #66FCF1;
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  margin-top: 23px;

  background-color: #fff;

  position: relative;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  background: linear-gradient(90deg, rgb(120, 187, 196) 0%, rgb(56, 148, 125) 100%);
}
button.submit:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(100deg, rgb(120, 187, 196) 50%, rgb(56, 148, 125) 100%);
  color: #242424;
  transition: 250ms;

}

form#registerform {
  left:500px;
  top:-230px;
  position: relative;
}

.forgot-panel {
  margin-top:-320px;
  margin-right: 70px;
  margin-left: 100px;
  color:black;
  font-size: 25px;
  font-weight: 100;
}

form, .forgot-panel {
  position: relative;
  transition: all .5s ease;
}

#loginBtn, #registerBtn {
  transition: all .5s ease;
  text-align: center;
  margin-right: 15px;
  margin-left: 180x;
}

p{
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}
.paragraph {
  margin-bottom: 5px;
  margin-top: none;
  margin-bottom: 5px;
  color: red;
  font-weight: 5px;
}

.form-control.success input {
  border-color: #2ecc71;
}

form-control.error input {
  border-color: #e74c3c;
}

.box {
  border: 1px solid white;
  padding: 10px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  position: relative;
  font-size: 1em;
  text-align:center;
  color: #45A29E;
  padding: 8px 0px;
  font-weight: 700;
  background-color: #c0c0c0;
  margin-top: 8px;
}



.Question {
  width: 100%;
  height:90px;
  text-align: center;
  margin-bottom: 25px;
  color: grey;
  font-weight: 900;
  border:none;
  border-radius: 5px;
  background:  linear-gradient(90deg, #45A29E 0%, #1F2833 64%, #0b0c10 100%);;
}



.quiz-wrapper{
  height: 600px;
  width: 1300px;
  display: inline;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding:0 2em;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0, 0.2);
  overflow: hidden;

  color: #ffffff;


  color: #66FCF1;
  background: linear-gradient(90deg,  #1F2833 0%, #0B0C10 100%);

  box-shadow: 20px 20px 20px lightblue;
}

.quiz-wrapper input{
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

.options-container{
  display: inline-block;
  width: 50%;
  margin-top: 70px;
}

.options-container div{
  display: flex;
}
.options-container span{
  display: flex;
}



.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: medium;
  width: 70%;
}

.button-container button {
  font-weight: 500;
  text-transform: uppercase;
  text-align:center;
  padding: 8px 0px;
  cursor: pointer;
  margin-right: 40px;
  margin-top: 50px;
  border-radius: 20px;
  width: 30%;
  font-size: 25px;
  text-align: center;
  width: 20%;
  background-color: transparent;
  color: #fff;
  background: linear-gradient(90deg, rgb(120, 187, 196) 0%, rgb(56, 148, 125) 100%);
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}


.button-container button:hover {
 background-color: white ;
 color: black;
 
}


.optionWrong {
  color: white;
  background:  red;
}

.optionRight {
  color: white;
  background-color: #03C04A;
}

.option {
  border-radius: 40px;
  text-align: center;
  width: 90%;
  margin-left: 40px;
  margin-bottom: 10%;
  
  height: 50px;
  text-align: center;
  color: grey;
  font-weight: 900;
  border:none;
  border-radius: 5px;
  background:  linear-gradient(90deg, rgb(120, 187, 196) 0%, #D0F0C0 64%, rgba(43,238,205,0.1699054621848739) 100%);
}

input .box {
  cursor: pointer;
  width: 0.5px;
  height: 0.5px;
  margin-top: none;
  
}


h2{
  margin-bottom: 26px; 
  font :bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif
}

=======
li:hover {
  background-color: #C5C6C7;
  color: white;
}
li.correct {
  background-color: rgb(53, 212, 53);
}
li.selected:not(correct) {
  background-color: rgb(206, 58, 58);
}



